<div class="jumbotron">
  <h1>Organization of files</h1>

  <p class="lead">
    It is a good practice to separate controllers, services, filters and directives into individual directories.
  </p>
</div>

<div class="row marketing">
  <h4>Controllers</h4>
  <ul>
    <li>You should create a different file for each controller in the controllers folder</li>
  </ul>

  <h4>Views</h4>
  <ul>
    <li>Unique HTML should get its own template file and place them into the templates folder.</li>
    <li>You should avoid duplication and remove redundant filename (such as 'users-index.html') and use folder hierarchy
      instead (users => index.html)
    </li>
  </ul>

  <h4>Index file</h4>
  <ul>
    <li>The first file that will be loaded by the Angular App</li>
  </ul>
  <h4>Routes</h4>
  <ul>
    <li>Angular routes allow us to map URLs to use templates so that every time the current route changes the included
      view changes with it
    </li>
    <li>Route steps</li>
    <ul>
      <li>
        Use ngView
      </li>
      <li>
        Load hte ngRoute library
      </li>
      <li>
        Import ngRoute module
      </li>
      <li>
        Define routes
      </li>
    </ul>
  </ul>
  <h4>$http service</h4>
  <ul>
    <!-- You can use the alias of the controller -->
{{organization.modules}}
    <li ng-repeat="module in organization.modules"><a ng-href="#/module/{{module.id}}">{{module.name}}</a></li>
  </ul>
</div>
